<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Achievement Card</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/achievementCard.css">
</head>
<body>
    <div class="achievements">
        <div class="achievement-card">
            <p class="achievement-title">Gold medal at 2012 TOKYO Olympics games</p>
            <p class="achievement-role">Badminton Singles </p>
            <p class="achievement-timeline">23 March 2020 - 5 June 2020</p>
            <img class="achievement-image"src="../assets/sample/img.png">
            <hr class="achievement-horizontal-line">
        </div>
        <div class="achievement-card">
            <p class="achievement-title">Gold medal at 2012 TOKYO Olympics games</p>
            <p class="achievement-role">Badminton Singles </p>
            <p class="achievement-timeline">23 March 2020 - 5 June 2020</p>
            <img class="achievement-image"src="../assets/sample/img.png">
            <hr class="achievement-horizontal-line">
        </div>
        <div class="achievement-card">
            <p class="achievement-title">Gold medal at 2012 TOKYO Olympics games</p>
            <p class="achievement-role">Badminton Singles </p>
            <p class="achievement-timeline">23 March 2020 - 5 June 2020</p>
            <img class="achievement-image"src="../assets/sample/img.png">
            <hr class="achievement-horizontal-line">
        </div>
        <div class="achievement-card">
            <p class="achievement-title">Gold medal at 2012 TOKYO Olympics games</p>
            <p class="achievement-role">Badminton Singles </p>
            <p class="achievement-timeline">23 March 2020 - 5 June 2020</p>
            <img class="achievement-image"src="../assets/sample/img.png">
            <hr class="achievement-horizontal-line">
        </div>
        <div class="achievement-card">
            <p class="achievement-title">Gold medal at 2012 TOKYO Olympics games</p>
            <p class="achievement-role">Badminton Singles </p>
            <p class="achievement-timeline">23 March 2020 - 5 June 2020</p>
            <img class="achievement-image"src="../assets/sample/img.png">
            <hr class="achievement-horizontal-line">
        </div>
    </div>
</body>
</html>
