<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../styles/athleteCrowdFundingCard.css" rel="stylesheet">
    <link href="../styles/crowdfundingCampaignDetails.css" rel="stylesheet">
</head>
<body>
    <div class="main-crow-funding-card">
        <p  class="serial-number">#1</p>
        <div class="main-athlete-crowdfunding-details">
            <div class="athlete-crowdfunding-images">
                <img class="large-image-athlete-cover" src="../assets/sponsor6.png">
                <img class="small-image-athlete-profile" src="../assets/member4.jpg">
            </div>
            <div class="athlete-crowdfunding-basic-details">
                <p class="athlete-name-crowdfunding-card">dia mirza</p>
                <div class="sub-division-athlete-crowdfunding-basic-details">
                    <p class="athlete-sport-crowdfunding-card">Mixed Martial Arts</p>
                    <span class="dot-separator-crowdfunding-card"></span>
                    <a class="athlete-sport-category-crowdfunding-card">4x400m</a>
                    <span class="dot-separator-crowdfunding-card"></span>
                    <a class="athlete-sport-category-crowdfunding-card">23 Yrs</a>
                </div>
            </div>
            <p class="card-title">let’s do our part for the Best archer in the world (2021)</p>
            <hr class="horizontal-line-separator-crowdfunding-card" style="margin-top: 24px; margin-bottom: 12px">
            <div class="athlete-crowdfunding-demographics-main">
                <div class="sub-division-athlete-demographics-details">
                    <div class="contribution-till-now">
                        <p class="label-contribution-till-now">Contribution till now</p>
                        <p class="amount-contributed-till-now">₹ 3,30,240<span class="contribution-percentage" style="margin-left: 4px;">(61%)</span></p>
                    </div>
                    <div class="contribution-goal">
                        <p class="contribution-label">Our Goal</p>
                        <p class="goal-amount">₹ 5,00,001</p>
                    </div>
                </div>
                <div class="progress-base-crowdfunding">
                    <div class="progress-completed-crowdfunding" style="width:61%">&nbsp;</div>
                </div>
                <div class="sub-division-contribution-details">
                    <p class="supporters-and-days-left"><span class="number-of-supporters-and-days-left">100+</span>supporters</p>
                    <p class="supporters-and-days-left"><span class="number-of-supporters-and-days-left">21</span>days left</p>
                </div>
            </div>
            <hr class="horizontal-line-separator-crowdfunding-card" style="margin-top: 16px; margin-bottom: 24px">
            <button class="button-support-now">Support Now</button>
        </div>
    </div>
</body>
</html>
