{% extends "base.html"%}
{% block title%}
SportsApp - Blogs
{%endblock%}

{%block css%}
<link href="styles/blog.css" rel="stylesheet">
{%endblock%}
{%block body%}
<div class="location">
    <a class="location-tag"href="/">Home </a>
    <p>/</p>
    <a class="location-tag"href="#">Blogs </a>
</div>

<div class="page-container">
    <aside class="about-us-container">
        <div class="aboutus-div">

            <a href="/index">
                <img
                        class="logo-aboutus"
                        src="assets/logo_with_name.png">
            </a>

            <p>'SportsApp', is an aggregator platform which combines community, commerce and content for the sports ecosystem In India. Download the app today, and push your sports career into overdrive
            </p>

            <button>
                <!--<a
                    class="page-scroll"
                    href="https://play.google.com/store/apps/details?id=in.co.sportsapp.sportsapp"
                    style="color:black">
                        Download
                </a>-->
                <a
                        class="page-scroll"
                        href="https://play.google.com/store/apps/details?id=in.co.sportsapp.sportsapp"
                        target="_blank"
                        style="color:black">
                    Download
                </a>
            </button>
        </div>
    </aside>

    <main class="blog-section" style="padding: 0px; margin:0px">

        <div class="blog-container">
        </div>
    </main>

    <aside class="right-aside-container">
        <div class="right-aside-container-div">
            <h2 class="h2-margin">Trending blogs</h2>
            <div class="recent trending-blogs-container">
                <table class="recents trending-blogs">

                </table>
            </div>

            <hr>

            <h2 class="h2-margin">Categories</h2>
            <div class="recent">
                <table class="recents categories">
                    <tr>
                        <td
                                style="border: none; border-bottom: 1px dotted white;"
                                data-category="sponsorship">
                            Sponsorships
                        </td>
                    </tr>

                    <tr>
                        <td
                                style="border: none; border-bottom: 1px dotted white;"
                                data-category="indian_sport">
                            Indian Sports
                        </td>
                    </tr>

                    <tr>
                        <td
                                style="border: none; border-bottom: 1px dotted white;"
                                data-category="athletes">
                            Athletes
                        </td>
                    </tr>

                    <tr>
                        <td
                                style="border: none; border-bottom: 1px dotted white;"
                                data-category="others">
                            Others
                        </td>
                    </tr>

                    <tr>
                        <td
                                style="border: none; border-bottom: 1px dotted white;"
                                data-category="all">
                            All
                        </td>
                    </tr>

                </table>
            </div>
            <hr>
        </div>
    </aside>
</div>
{%endblock%}
