{% extends "base.html"%}
{%block title%}SportsApp - Protsahan{%endblock%}
{% block css %}
<link href="/styles/crowdfundingCampaignDetails.css" rel="stylesheet">
<link href="/styles/achievementCard.css" rel="stylesheet">
{%endblock%}

{%block navigationList%}
<li class="nav-li">
    <a href="/blogs">Blogs</a>
</li>
<li class="nav-li">
    <a href="https://play.google.com/store/apps/details?id=in.co.sportsapp.sportsapp">Download</a>
</li>
{%endblock%}

{% block body%}
<div>
    <section>
        <div class="main-crowd-funding-analytics">
            <p class="crowd-funding-title">{{campaign.campaignTitle}}</p>
            <div class="sub-division-crowdFunding">
                <div class="sub-division-left">
                    {%if campaign.campaignMedia.contentType == 'image' %}
                        <img src="{{campaign.campaignMedia.contentCDN}}/{{campaign.campaignMedia.contentKey}}" alt="image" />
                    {%elif campaign.campaignMedia.contentType == 'video' %}
                        <video autoplay loop controls>
                            <source src="{{campaign.campaignMedia.contentCDN}}/{{campaign.campaignMedia.contentKey}}" type="video/mp4" />
                        </video>
                    {%endif%}
                </div>
                <div class="sub-division-right">
                    <hr class="horizontal-line">
                    <p class="label-contributed-till-now">Contribution till now</p>
                    <p class="amount-contributed">₹ {{campaign.raisedAmountINR}}<span class="percentage-span">({{calculatePercentageStr(campaign.raisedAmountINR, campaign.targetAmountINR)}})</span></p>
                    <div class="progress-base">
                        <div class="progress-completed" style="width:{{calculatePercentageStr(campaign.raisedAmountINR, campaign.targetAmountINR)}}">&nbsp;</div>
                    </div>
                    <p class="label-target-amount">Our Target Amount : <span class="target-amount">₹ {{campaign.targetAmountINR}}</span></p>
                    <hr class="horizontal-line">
                    <div class="division-supporters">
                        <p class="label-supporters"><span class="number-supporters">{{campaign.countSupporters}}+</span>supporters</p>
                        <p class="label-days-left"><span class="number-supporters">{{calculateDaysLeftFromDate(campaign.endsAtTimestamp)}}</span>days left</p>
                    </div>
                    <button class="share-button">share within your circle<img src="/assets/shareIcon.svg"></button>
                    <p class="label-share-brings">Every share brings around <span class="span-new-people">3 new people.</span></p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="main-milap-banner">
            <div class="left-milap-banner">
                <p class="label-lets-contribute">let’s contribute</p>
                <p class="label-click-to-contribute">Click here to Contribute</p>
            </div>
            <div class="right-milap-banner">
                <a class="milap-button" href="{{campaign.contributionUrl}}" target="_blank"><img src="/assets/milaap.svg">**</a>
                <p class="milap-description">**Milaap is a registered trademark of Milaap Social Ventures India Pvt. Ltd.</p>
            </div>
        </div>
        <p class="label-most-supporters-contribution">*Most supporters contributed <span class="span-money-most-supporters">₹ {{campaign.avgContributionAmountINR}}</span> for the Athlete.</p>
        <div class="division-message-sportsapp">
            <p class="label-sportsapp-message">SportsApp will not charge any fee on your contribution to the athlete.</p>
        </div>
    </section>
    <section>
        <div class="main-athlete-details">
            <div class="basic-athlete-details">
                <div class="basic-athlete-details-left">
                    <img alt="Profile Pic" src="{{campaign.athleteDetails.profilePic.contentCDN}}/{{campaign.athleteDetails.profilePic.contentKey}}" />
                </div>
                <div class="basic-athlete-details-right">
                    <p class="athlete-name">{{campaign.athleteDetails.name}}</p>
                    <p class="athlete-sport">{{campaign.athleteDetails.sport}}</p>
                    <p class="athlete-sport-category">{{campaign.athleteDetails.role}}<span class="dot-separator"></span>{{calculateAgeFromDob(campaign.athleteDetails.dateOfBirth)}}</p>
                </div>
            </div>
            <div class="main-navigation-bar">
                <ul class="navigation-list" id="navList">
                    <li class="navigation-active page-scroll" id="athleteAboutListItem" onclick="navigationClick(this.id)"><a href="#athleteAbout">About</a></li>
                    <li class="navigation-inactive page-scroll" id="athleteAchievementListItem" onclick="navigationClick(this.id)"><a href="#athleteAchievements">Achievement</a></li>
                    <li class="navigation-inactive page-scroll" id="athleteFundUseListItem" onclick="navigationClick(this.id)"><a href="#fundUse">Fund's Use</a></li>
                </ul>
            </div>
            <div class="athlete-details-about-main" id="athleteAbout">
                <div class="athlete-details-about-left">
                    {{campaign.athleteDetails.bioText}}
                    <br/>
                    <p class="details-sub-heading">Social Media Profile: </p>
                    <div class="athlete-details-social-media">
                        {%for social in campaign.athleteDetails.socialProfiles%}
                            {%if social.socialPlatform == 'facebook' %}
                                {%set socialIcon = "/assets/Icons/Social/fb.svg" %}
                            {%elif social.socialPlatform == 'instagram' %}
                                {%set socialIcon = "/assets/Icons/Social/fb.svg" %}
                            {%elif social.socialPlatform == 'twitter' %}
                                {%set socialIcon = "/assets/Icons/Social/fb.svg" %}
                            {%elif social.socialPlatform == 'linkedin' %}
                                {%set socialIcon = "/assets/Icons/Social/fb.svg" %}
                            {%else%}
                                {%set socialIcon = "/assets/Icons/Social/default.svg" %}
                            {%endif%}
                            <a href="{{social.profileUri}}"><img class="social-media-icons" src="{{socialIcon}}" alt="social icon"></a>
                        {%endfor%}
                    </div>
                </div>
                <div class="athlete-details-about-right">
                    <div class="sub-division-athlete-images" id="collectionImages">
                    {% for image in campaign.athleteDetails.mediaGallery %}
                        {% if loop.index == 1 %}
                            {%set galleryImageClass = "small-images-athlete selected" %}
                            <img class="large-athlete-image" src="{{image.contentCDN}}/{{image.contentKey}}" id="largeImage" alt="">
                        {% else %}
                            {%set galleryImageClass = "small-images-athlete unselected" %}
                        {% endif %}
                        <img class="{{galleryImageClass}}" id="img{{loop.index}}" src="{{image.contentCDN}}/{{image.contentKey}}" onclick="imageClick(this.src, this.id)" alt="image" />
                    {% endfor %}
                    </div>
                </div>
            </div>
            <hr class="separator" />
        </div>
    </section>
    <section>
        <div class="achievements-main" id="athleteAchievements">
            <p class="details-title">Achievements 🥇</p>
            <div class="achievements">
                {% for achievement in campaign.athleteHighlights %}
                {% include "athlete-achievement-card.html" %}
                {% endfor %}
            </div>
        </div>
    </section>
    <section>
        <div class="fund-use-main" id="fundUse">
            <p class="details-title">How will this help him</p>
            <div class="athlete-details-about-main">
                <div class="fund-use-left">
                    {{campaign.campaignObjectives}}
                </div>
            </div>
        </div>
    </section>
    <p class="company-tagline">#AbKhelegaIndia</p>
</div>
{%endblock%}

{% block scripts %}
<script src="javascripts/utils.js" type="text/javascript"></script>
<script>
    function navigationClick(id){
    	const selectedElement = document.getElementById(id);
		const element = document.getElementById('navList');
		const list = element.getElementsByTagName("li");
		for(let i = 0; i <list.length; i++){
			if(list[i].classList.contains("navigation-active")){
				list[i].classList.remove("navigation-active")
                list[i].classList.add("navigation-inactive")
            }
        }
		if(selectedElement.classList.contains("navigation-inactive")){
			selectedElement.classList.add("navigation-active")
			selectedElement.classList.remove("navigation-inactive")
        }
    }
    function imageClick(src, id){
    	const selectedImage = document.getElementById(id);
    	const listOfImagesElement = document.getElementById("collectionImages").getElementsByTagName("img");
    	for(let i = 0; i < listOfImagesElement.length; i++){
    		if(listOfImagesElement[i].classList.contains("selected")){
				listOfImagesElement[i].classList.remove("selected")
				listOfImagesElement[i].classList.add("unselected")
            }
        }
		if(selectedImage.classList.contains("unselected")){
			selectedImage.classList.add("selected")
			selectedImage.classList.remove("unselected")
		}
		const largeImageElement = document.getElementById('largeImage');
		largeImageElement.setAttribute("src", src);
    }
</script>
{%endblock%}
