<div class="cards">
    <div class="in-div">
        <div class="dp-image">
            <img class="dp" style="object-fit: cover;" src="{{member.profilePicUrl}}" alt="Profile Pic">
            <a class="linkedin-link" href="{{member.linkedInProfileUrl}}" target="_blank">
                <img class="linkedin-logo" src="/assets/LINKEDIN.png" alt="LinkedIn Logo">
            </a>
        </div>
        <div class="member-detail">
            <h4 class="member-name">{{member.name}}</h4>
            <p class="member-position">{{member.designation}}</p>
        </div>
    </div>
</div>
