<div class="cards">
    <div class="in-div">
        <div class="dp-image">
            <img class="dp" src="assets/member1.jpg">
            <a class="linkedin-link" href="https://www.linkedin.com/in/shankmishra/" target="_blank">

                <img class="linkedin-logo" src="assets/LINKEDIN.png">

            </a>
        </div>

        <div class="member-detail">
            <h4 class="member-name"> Shashank Mishra</h4>
            <p class="member-position">Founder And CEO</p>
        </div>

    </div>

</div>
