<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta content="width=device-width,initial-scale=1.0" name="viewport"/>
    <link href="/assets/LOGO WITHOUT LABEL.svg" rel="icon" type="image/x-icon">
    <link href="/styles/campaignGuidelines.css" rel="stylesheet" type="text/css"/>
    <title>SportsApp-Campaign Guidelines</title>
</head>
<body>
      <div class="main">
        <div class="main-header">
            <img src="/assets/mobile/campaign-guidelines/campaign-guideline-header-image-en.png"/>
            <p class="campaign-details-link" style="text-align: right; margin-right: 16px;"> <a href="/m/campaign-guildeline?lang=hi">हिन्दी मे देखें</a> </p>
        </div>
        <div class="main-campaign-details">
            <div class="div-campaign-detail-item">
                <div class="details-left">
                    <img src="/assets/mobile/campaign-guidelines/bullet.svg"/>
                </div>
                <div class="details-right">
                    <p class="campaign-details-heading">30 Seconds</p>
                    <p class="campaign-details-sub-heading">Minimum length of video content</p>
                </div>
            </div>
            <hr class="campaign-details-horizontal-line">
            <div class="div-campaign-detail-item">
                <div class="details-left">
                    <img src="/assets/mobile/campaign-guidelines/bullet.svg"/>
                </div>
                <div class="details-right">
                    <p class="campaign-details-heading">Valid captions</p>
                    <p class="campaign-details-sub-heading">Use valid captions with your posts.</p>
                </div>
            </div>
            <hr class="campaign-details-horizontal-line">
            <div class="div-campaign-detail-item">
                <div class="details-left">
                    <img src="/assets/mobile/campaign-guidelines/bullet.svg"/>
                </div>
                <div class="details-right">
                    <p class="campaign-details-heading">Bonus</p>
                    <p class="campaign-details-sub-heading">Bonus on good quality content</p>
                    <div class="campaign-details-sub-heading-flex">
                        <div class="campaign-details-sub-heading-flex-left">
                            <img src="/assets/mobile/campaign-guidelines/bullet.svg"/>
                        </div>
                        <div class="campaign-details-sub-heading-flex-right">
                            <p class="campaign-details-sub-heading" style="margin : 0px;">Added Points in leaderboard</p>
                        </div>
                    </div>
                    <div class="campaign-details-sub-heading-flex" style="margin-top: 6px;">
                        <div class="campaign-details-sub-heading-flex-left">
                            <img src="/assets/mobile/campaign-guidelines/campaign-details-verified-icon.svg"/>
                        </div>
                        <div class="campaign-details-sub-heading-flex-right">
                            <p class="campaign-details-sub-heading" style="margin : 0px;">Verified Profile (Blue Tick). <span class="campaign-details-link"> <a href="#scroll-to-tab" class="page-scroll">See detailed T&C</a></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="campaign-details-horizontal-line">
            <div class="div-campaign-detail-item">
                <div class="details-left">
                    <img src="/assets/mobile/campaign-guidelines/bullet.svg"/>
                </div>
                <div class="details-right">
                    <p class="campaign-details-heading">Disqualifications</p>
                    <p class="campaign-details-sub-heading">Disqualification on warning basis</p>
                    <div class="campaign-details-sub-heading-flex">
                        <div class="campaign-details-sub-heading-flex-left">
                            <img src="/assets/mobile/campaign-guidelines/campaign-details-warning-1.svg"/>
                        </div>
                        <div class="campaign-details-sub-heading-flex-right">
                            <p class="campaign-details-sub-heading" style="margin : 0px;">1st Warning: <span class="campaign-details-link">-20%</span> points</p>
                        </div>
                    </div>
                    <div class="campaign-details-sub-heading-flex" style="margin-top: 6px;">
                        <div class="campaign-details-sub-heading-flex-left">
                            <img src="/assets/mobile/campaign-guidelines/campaign-details-warning-2.svg"/>
                        </div>
                        <div class="campaign-details-sub-heading-flex-right">
                            <p class="campaign-details-sub-heading" style="margin : 0px;">2nd Warning: <span class="campaign-details-link">-50%</span> points</p>
                        </div>
                    </div>
                    <div class="campaign-details-sub-heading-flex" style="margin-top: 6px;">
                        <div class="campaign-details-sub-heading-flex-left">
                            <img src="/assets/mobile/campaign-guidelines/campaign-details-warning-3.svg"/>
                        </div>
                        <div class="campaign-details-sub-heading-flex-right">
                            <p class="campaign-details-sub-heading" style="margin : 0px;">3rd Warning: <span class="campaign-details-link">-70%</span> points</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="campaign-details-horizontal-line">
            <div class="div-campaign-detail-item">
                <div class="details-left">
                    <img src="/assets/mobile/campaign-guidelines/bullet.svg"/>
                </div>
                <div class="details-right">
                    <p class="campaign-details-heading">Content removal</p>
                    <p class="campaign-details-sub-heading">Irrelevant content to be deleted from campaign.</p>
                </div>
            </div>
        </div>
        <hr class="campaign-details-horizontal-line-separation">
        <div class="campaign-details-tabs">
            <div class="campaign-details-tabs-header-div">
                <div class="campaign-details-tabs-header-div-left">
                    <p class="campaign-details-tabs-header">Verified Profile</p>
                </div>
                <div class="campaign-details-tabs-header-div-right">
                    <img src="/assets/mobile/campaign-guidelines/campaign-details-verified-icon.svg">
                </div>
            </div>

            <div class="tab" id="scroll-to-tab">
                <button class="tablinks active" onclick="changeTab(event, 't-c')">T&C</button>
                <button class="tablinks" onclick="changeTab(event, 'benefits')">Benefits</button>
            </div>

            <div id="t-c" class="tabcontent" style="display: block;">
                <p class="campaign-details-heading" style="padding-top: 54px;">Terms And Conditions</p>
                <div class="campaign-details-sub-heading-flex" style="margin-top: 12px;">
                    <div class="campaign-details-sub-heading-flex-left">
                        <img src="/assets/mobile/campaign-guidelines/bullet.svg"/>
                    </div>
                    <div class="campaign-details-sub-heading-flex-right">
                        <p class="campaign-details-sub-heading" style="margin : 0px;">Only available for <span class="campaign-details-link">‘Athlete’</span> profiles exclusively on SportsApp.</p>
                    </div>
                </div>

                <div class="campaign-details-sub-heading-flex" style="margin-top: 16px;">
                    <div class="campaign-details-sub-heading-flex-left">
                        <img src="/assets/mobile/campaign-guidelines/bullet.svg"/>
                    </div>
                    <div class="campaign-details-sub-heading-flex-right">
                        <p class="campaign-details-sub-heading" style="margin : 0px;">Value generated through <span class="campaign-details-link">‘MyValue’</span> option available on SportsApp.</p>
                    </div>
                </div>


                <div class="campaign-details-sub-heading-flex" style="margin-top: 16px;">
                    <div class="campaign-details-sub-heading-flex-left">
                        <img src="/assets/mobile/campaign-guidelines/bullet.svg"/>
                    </div>
                    <div class="campaign-details-sub-heading-flex-right">
                        <p class="campaign-details-sub-heading" style="margin : 0px;">Completed profile on SportsApp.</p>
                    </div>
                </div>

                <div class="campaign-details-sub-heading-flex" style="margin-top: 16px;">
                    <div class="campaign-details-sub-heading-flex-left">
                        <img src="/assets/mobile/campaign-guidelines/bullet.svg"/>
                    </div>
                    <div class="campaign-details-sub-heading-flex-right">
                        <p class="campaign-details-sub-heading" style="margin : 0px;">A quality content which fulfills the value of showcasing the skills.</p>
                    </div>
                </div>

                <div class="campaign-details-sub-heading-flex" style="margin-top: 16px;">
                    <div class="campaign-details-sub-heading-flex-left">
                        <img src="/assets/mobile/campaign-guidelines/bullet.svg"/>
                    </div>
                    <div class="campaign-details-sub-heading-flex-right">
                        <p class="campaign-details-sub-heading" style="margin : 0px;">Final decision by SportsApp panel to award “Verified Profile”.</p>
                    </div>
                </div>

                <div class="campaign-details-sub-heading-flex" style="margin-top: 16px;">
                    <div class="campaign-details-sub-heading-flex-left">
                        <img src="/assets/mobile/campaign-guidelines/bullet.svg"/>
                    </div>
                    <div class="campaign-details-sub-heading-flex-right">
                        <p class="campaign-details-sub-heading" style="margin : 0px;"><b>Verified profile is given regardless of the rank achieved in SportsApp campaigns.</b></p>
                    </div>
                </div>
            </div>

            <div id="benefits" class="tabcontent">
                <p class="campaign-details-heading" style="padding-top: 54px;">Benefits</p>
                <div class="campaign-details-sub-heading-flex" style="margin-top: 12px;">
                    <div class="campaign-details-sub-heading-flex-left">
                        <img src="/assets/mobile/campaign-guidelines/bullet.svg"/>
                    </div>
                    <div class="campaign-details-sub-heading-flex-right">
                        <p class="campaign-details-sub-heading" style="margin : 0px;">Better opportunities for sponsorship directly from brands.</p>
                    </div>
                </div>

                <div class="campaign-details-sub-heading-flex" style="margin-top: 16px;">
                    <div class="campaign-details-sub-heading-flex-left">
                        <img src="/assets/mobile/campaign-guidelines/bullet.svg"/>
                    </div>
                    <div class="campaign-details-sub-heading-flex-right">
                        <p class="campaign-details-sub-heading" style="margin : 0px;">Better reach to the audience on SportsApp and other social media.
                        </p>
                    </div>
                </div>


                <div class="campaign-details-sub-heading-flex" style="margin-top: 16px;">
                    <div class="campaign-details-sub-heading-flex-left">
                        <img src="/assets/mobile/campaign-guidelines/bullet.svg"/>
                    </div>
                    <div class="campaign-details-sub-heading-flex-right">
                        <p class="campaign-details-sub-heading" style="margin : 0px;">Increase your credibility with associations.</p>
                    </div>
                </div>

                <div class="campaign-details-sub-heading-flex" style="margin-top: 16px;">
                    <div class="campaign-details-sub-heading-flex-left">
                        <img src="/assets/mobile/campaign-guidelines/bullet.svg"/>
                    </div>
                    <div class="campaign-details-sub-heading-flex-right">
                        <p class="campaign-details-sub-heading" style="margin : 0px;">Exclusivity of multiple parameters.</p>
                    </div>
                </div>

                <div class="campaign-details-sub-heading-flex" style="margin-top: 16px;">
                    <div class="campaign-details-sub-heading-flex-left">
                        <img src="/assets/mobile/campaign-guidelines/bullet.svg"/>
                    </div>
                    <div class="campaign-details-sub-heading-flex-right">
                        <p class="campaign-details-sub-heading" style="margin : 0px;">Rise in following on other social media handles too.</p>
                    </div>
                </div>
            </div>
        </div>
      <p class="campaign-details-sub-heading" style="color: #287da8; margin-left: 16px; margin-right: 16px;" >*  More guidelines in the campaign section.</p> <br>
    </div>
    <script>
		function changeTab(evt, cityName) {
			// Declare all variables
			var i, tabcontent, tablinks;

			tabcontent = document.getElementsByClassName("tabcontent");
			for (i = 0; i < tabcontent.length; i++) {
				tabcontent[i].style.display = "none";
			}

			tablinks = document.getElementsByClassName("tablinks");
			for (i = 0; i < tablinks.length; i++) {
				tablinks[i].className = tablinks[i].className.replace(" active", "");
			}

			document.getElementById(cityName).style.display = "block";
			evt.currentTarget.className += " active";
		}
    </script>

      <script src="/scripts/slider.js"></script>

</body>

</html>
