<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta content="width=device-width,initial-scale=1.0" name="viewport"/>
    <link href="/assets/LOGO WITHOUT LABEL.svg" rel="icon" type="image/x-icon">
    <link href="/styles/campaignGuidelines.css" rel="stylesheet" type="text/css"/>
    <title>SportsApp-Campaign Guidelines</title>
</head>
<body>
<div class="main">
    <div class="main-header">
        <img src="/assets/mobile/campaign-guidelines/campaign-guideline-header-image-hi.png"/>
        <p class="campaign-details-link" style="text-align: right; margin-right: 16px;"> <a href="/m/campaign-guildeline">English</a> </p>
    </div>
    <div class="main-campaign-details">
        <div class="div-campaign-detail-item">
            <div class="details-left">
                <img src="/assets/mobile/campaign-guidelines/bullet.svg"/>
            </div>
            <div class="details-right">
                <p class="campaign-details-heading">30 सेकंड</p>
                <p class="campaign-details-sub-heading">वीडियो के अंतराल का न्यूनतम समय।</p>
            </div>
        </div>
        <hr class="campaign-details-horizontal-line">
        <div class="div-campaign-detail-item">
            <div class="details-left">
                <img src="/assets/mobile/campaign-guidelines/bullet.svg"/>
            </div>
            <div class="details-right">
                <p class="campaign-details-heading">मान्य कैप्शन</p>
                <p class="campaign-details-sub-heading">आपकी पोस्ट के साथ मान्य कैप्शन का उपयोग।</p>
            </div>
        </div>
        <hr class="campaign-details-horizontal-line">
        <div class="div-campaign-detail-item">
            <div class="details-left">
                <img src="/assets/mobile/campaign-guidelines/bullet.svg"/>
            </div>
            <div class="details-right">
                <p class="campaign-details-heading">बोनस</p>
                <p class="campaign-details-sub-heading">कंटेन्ट की अच्छी क्वालिटी  पर बोनस</p>
                <div class="campaign-details-sub-heading-flex">
                    <div class="campaign-details-sub-heading-flex-left">
                        <img src="/assets/mobile/campaign-guidelines/bullet.svg"/>
                    </div>
                    <div class="campaign-details-sub-heading-flex-right">
                        <p class="campaign-details-sub-heading" style="margin : 0px;">लीडरबोर्ड में जोड़े गए अंक</p>
                    </div>
                </div>
                <div class="campaign-details-sub-heading-flex" style="margin-top: 6px;">
                    <div class="campaign-details-sub-heading-flex-left">
                        <img src="/assets/mobile/campaign-guidelines/campaign-details-verified-icon.svg"/>
                    </div>
                    <div class="campaign-details-sub-heading-flex-right">
                        <p class="campaign-details-sub-heading" style="margin : 0px;">वेरफाइड प्रोफाइल(ब्लू टिक)।<span class="campaign-details-link"> <a href="#scroll-to-tab" class="page-scroll">विस्तृत जानकारी देखें।</a></span></p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="campaign-details-horizontal-line">
        <div class="div-campaign-detail-item">
            <div class="details-left">
                <img src="/assets/mobile/campaign-guidelines/bullet.svg"/>
            </div>
            <div class="details-right">
                <p class="campaign-details-heading">डिसक्वालिफिकेशन</p>
                <p class="campaign-details-sub-heading">चेतावनी के आधार पर डिसक्वालिफिकेशन</p>
                <div class="campaign-details-sub-heading-flex">
                    <div class="campaign-details-sub-heading-flex-left">
                        <img src="/assets/mobile/campaign-guidelines/campaign-details-warning-1.svg"/>
                    </div>
                    <div class="campaign-details-sub-heading-flex-right">
                        <p class="campaign-details-sub-heading" style="margin : 0px;">पहली चेतावनी:<span class="campaign-details-link">-20%</span> अंक</p>
                    </div>
                </div>
                <div class="campaign-details-sub-heading-flex" style="margin-top: 6px;">
                    <div class="campaign-details-sub-heading-flex-left">
                        <img src="/assets/mobile/campaign-guidelines/campaign-details-warning-2.svg"/>
                    </div>
                    <div class="campaign-details-sub-heading-flex-right">
                        <p class="campaign-details-sub-heading" style="margin : 0px;">दूसरी चेतावनी <span class="campaign-details-link">-50%</span> अंक</p>
                    </div>
                </div>
                <div class="campaign-details-sub-heading-flex" style="margin-top: 6px;">
                    <div class="campaign-details-sub-heading-flex-left">
                        <img src="/assets/mobile/campaign-guidelines/campaign-details-warning-3.svg"/>
                    </div>
                    <div class="campaign-details-sub-heading-flex-right">
                        <p class="campaign-details-sub-heading" style="margin : 0px;">तीसरी चेतावनी: <span class="campaign-details-link">-70%</span> अंक</p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="campaign-details-horizontal-line">
        <div class="div-campaign-detail-item">
            <div class="details-left">
                <img src="/assets/mobile/campaign-guidelines/bullet.svg"/>
            </div>
            <div class="details-right">
                <p class="campaign-details-heading">कंटेन्ट निष्कासन</p>
                <p class="campaign-details-sub-heading">कंटेन्ट का गाइडलाइंस से ना मिलने पर हटाया जाएगा।</p>
            </div>
        </div>
    </div>
    <hr class="campaign-details-horizontal-line-separation">
    <div class="campaign-details-tabs">
        <div class="campaign-details-tabs-header-div">
            <div class="campaign-details-tabs-header-div-left">
                <p class="campaign-details-tabs-header">वेरिफ़िएड प्रोफ़ाइल</p>
            </div>
            <div class="campaign-details-tabs-header-div-right">
                <img src="/assets/mobile/campaign-guidelines/campaign-details-verified-icon.svg">
            </div>
        </div>

        <div class="tab" id="scroll-to-tab">
            <button class="tablinks active" onclick="changeTab(event, 't-c')">टी एंड सी</button>
            <button class="tablinks" onclick="changeTab(event, 'benefits')">लाभ</button>
        </div>

        <div id="t-c" class="tabcontent" style="display: block;">
            <p class="campaign-details-heading" style="padding-top: 54px;">नियम एवं शर्तें</p>
            <div class="campaign-details-sub-heading-flex" style="margin-top: 12px;">
                <div class="campaign-details-sub-heading-flex-left">
                    <img src="/assets/mobile/campaign-guidelines/bullet.svg"/>
                </div>
                <div class="campaign-details-sub-heading-flex-right">
                    <p class="campaign-details-sub-heading" style="margin : 0px;">केवल स्पोर्ट्सऐप पर <span class="campaign-details-link">'एथलीट'</span>प्रोफाइल के लिए उपलब्ध है।</p>
                </div>
            </div>

            <div class="campaign-details-sub-heading-flex" style="margin-top: 16px;">
                <div class="campaign-details-sub-heading-flex-left">
                    <img src="/assets/mobile/campaign-guidelines/bullet.svg"/>
                </div>
                <div class="campaign-details-sub-heading-flex-right">
                    <p class="campaign-details-sub-heading" style="margin : 0px;">SportsApp पर उपलब्ध <span class="campaign-details-link">‘MyValue’</span> विकल्प के माध्यम से उत्पन्न मूल्य।</p>
                </div>
            </div>


            <div class="campaign-details-sub-heading-flex" style="margin-top: 16px;">
                <div class="campaign-details-sub-heading-flex-left">
                    <img src="/assets/mobile/campaign-guidelines/bullet.svg"/>
                </div>
                <div class="campaign-details-sub-heading-flex-right">
                    <p class="campaign-details-sub-heading" style="margin : 0px;">SportsApp पर पूर्ण प्रोफ़ाइल।</p>
                </div>
            </div>

            <div class="campaign-details-sub-heading-flex" style="margin-top: 16px;">
                <div class="campaign-details-sub-heading-flex-left">
                    <img src="/assets/mobile/campaign-guidelines/bullet.svg"/>
                </div>
                <div class="campaign-details-sub-heading-flex-right">
                    <p class="campaign-details-sub-heading" style="margin : 0px;">क्वालिटी कंटेन्ट जो कौशल दिखाने के मूल्य को पूरा करता हो।</p>
                </div>
            </div>

            <div class="campaign-details-sub-heading-flex" style="margin-top: 16px;">
                <div class="campaign-details-sub-heading-flex-left">
                    <img src="/assets/mobile/campaign-guidelines/bullet.svg"/>
                </div>
                <div class="campaign-details-sub-heading-flex-right">
                    <p class="campaign-details-sub-heading" style="margin : 0px;">SportsApp पैनल द्वारा "सत्यापित प्रोफ़ाइल" को पुरस्कृत करने का अंतिम निर्णय।
                    </p>
                </div>
            </div>

            <div class="campaign-details-sub-heading-flex" style="margin-top: 16px;">
                <div class="campaign-details-sub-heading-flex-left">
                    <img src="/assets/mobile/campaign-guidelines/bullet.svg"/>
                </div>
                <div class="campaign-details-sub-heading-flex-right">
                    <p class="campaign-details-sub-heading" style="margin : 0px;"><b>SportsApp कैम्पैन  में प्राप्त रैंक की परवाह किए बिना वेरिफ़िएड  प्रोफ़ाइल दी जाएगी।</b></p>
                </div>
            </div>
        </div>

        <div id="benefits" class="tabcontent">
            <p class="campaign-details-heading" style="padding-top: 54px;">लाभ</p>
            <div class="campaign-details-sub-heading-flex" style="margin-top: 12px;">
                <div class="campaign-details-sub-heading-flex-left">
                    <img src="/assets/mobile/campaign-guidelines/bullet.svg"/>
                </div>
                <div class="campaign-details-sub-heading-flex-right">
                    <p class="campaign-details-sub-heading" style="margin : 0px;">सीधे ब्रांडों से स्पान्सर्शिप के बेहतर अवसर।</p>
                </div>
            </div>

            <div class="campaign-details-sub-heading-flex" style="margin-top: 16px;">
                <div class="campaign-details-sub-heading-flex-left">
                    <img src="/assets/mobile/campaign-guidelines/bullet.svg"/>
                </div>
                <div class="campaign-details-sub-heading-flex-right">
                    <p class="campaign-details-sub-heading" style="margin : 0px;">SportsApp और अन्य सोशल मीडिया पर बेहतर रीच।
                    </p>
                </div>
            </div>


            <div class="campaign-details-sub-heading-flex" style="margin-top: 16px;">
                <div class="campaign-details-sub-heading-flex-left">
                    <img src="/assets/mobile/campaign-guidelines/bullet.svg"/>
                </div>
                <div class="campaign-details-sub-heading-flex-right">
                    <p class="campaign-details-sub-heading" style="margin : 0px;">असोशीऐशन के साथ अपनी विश्वसनीयता बढ़ाएँ।</p>
                </div>
            </div>

            <div class="campaign-details-sub-heading-flex" style="margin-top: 16px;">
                <div class="campaign-details-sub-heading-flex-left">
                    <img src="/assets/mobile/campaign-guidelines/bullet.svg"/>
                </div>
                <div class="campaign-details-sub-heading-flex-right">
                    <p class="campaign-details-sub-heading" style="margin : 0px;">कई मापदंडों की विशिष्टता।</p>
                </div>
            </div>

            <div class="campaign-details-sub-heading-flex" style="margin-top: 16px;">
                <div class="campaign-details-sub-heading-flex-left">
                    <img src="/assets/mobile/campaign-guidelines/bullet.svg"/>
                </div>
                <div class="campaign-details-sub-heading-flex-right">
                    <p class="campaign-details-sub-heading" style="margin : 0px;">अन्य सोशल मीडिया हैंडल पर भी फॉलोइंग में वृद्धि।</p>
                </div>
            </div>
        </div>
    </div>
    <p class="campaign-details-sub-heading" style="color: #287da8; margin-left: 16px; margin-right: 16px;">*  अधिक दिशानिर्देश कैम्पैन के अंदर मिलेंगे।</p><br>
</div>
<script>
	function changeTab(evt, cityName) {
		// Declare all variables
		var i, tabcontent, tablinks;

		tabcontent = document.getElementsByClassName("tabcontent");
		for (i = 0; i < tabcontent.length; i++) {
			tabcontent[i].style.display = "none";
		}

		tablinks = document.getElementsByClassName("tablinks");
		for (i = 0; i < tablinks.length; i++) {
			tablinks[i].className = tablinks[i].className.replace(" active", "");
		}

		document.getElementById(cityName).style.display = "block";
		evt.currentTarget.className += " active";
	}
</script>

<script src="/scripts/slider.js"></script>

</body>

</html>
