@font-face {
    font-family: "League Spartan";
    src: url('fonts/league-spartan/LeagueSpartan-Regular.ttf') format('truetype');
}

@font-face {
    font-family:"League Spartan";
    src: url('fonts/league-spartan/LeagueSpartan-Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family:"League Spartan";
    src: url('fonts/league-spartan/LeagueSpartan-Bold.ttf') format('truetype');
    font-weight: 600;
}
*{
    margin: 0;
    font-family: "League Spartan";
}

.main-crow-funding-card{
    display: block;
    position: relative;
    z-index: 0;
    margin-top: 40px;
}
.serial-number{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 140%;
    text-align: justify;
    letter-spacing: 0.0015em;
    color: #FFFFFF;
    position: absolute;
    top:12px;
    left: 12px;
    z-index: 1500;
}
.main-athlete-crowdfunding-details{
    width: 320px;
    background: #FFFFFF;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.athlete-crowdfunding-images{
    position: relative;
    height: 200px;
    width: 100%;

}
.large-image-athlete-cover{
    height: 80%;
    width: 100%;
}
.small-image-athlete-profile{
    position: absolute;
    height: 80px;
    width: 80px;
    bottom: 10px;
    left: 16px;
    border: 3px solid #F5F5F5;
    border-radius: 8px;
}
.athlete-crowdfunding-basic-details{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}
.sub-division-athlete-crowdfunding-basic-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4px 0 0;
}
.athlete-name-crowdfunding-card{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.0015em;
    text-transform: uppercase;
    color: #287DA8;
    margin: 0;
}
.athlete-sport-crowdfunding-card{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.0015em;
    color: #000000;
    opacity: 0.9;
    border: 1px solid #D7D7D7;
    border-radius: 2px;
    padding: 1px 8px;
    margin: 0;
}
.dot-separator-crowdfunding-card{
    width: 4px;
    height: 4px;
    background: #287DA8;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 50%;
    display: inline-block;
}
.athlete-sport-category-crowdfunding-card{
    font-family: "League Spartan";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.0015em;
    color: #000000;
    opacity: 0.9;
    margin: 0;
}
.card-title{
    font-family: "League Spartan";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #000000;
    opacity: 0.9;
    margin: 16px 16px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.horizontal-line-separator-crowdfunding-card{
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.athlete-crowdfunding-demographics-main{
    font-family: "League Spartan";
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
}
.sub-division-athlete-demographics-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contribution-till-now .contribution-goal{
    display: flex;
    flex-direction: column;
    justify-items: auto;
}
.label-contribution-till-now{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.0015em;
    color: #000000;
    opacity: 0.9;
    margin: 0;
}
.contribution-label{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.0015em;
    color: #000000;
    opacity: 0.9;
    margin: 0;
}
.amount-contributed-till-now{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.0015em;
    color: #74A11E;
    margin: 0;
}
.contribution-percentage{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.0015em;
    color: rgba(0, 0, 0, 0.7);
    margin: 0;
}

.goal-amount{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.0015em;
    color: #000000;
    opacity: 0.9;
    margin: 0;
}

.progress-base-crowdfunding{
    width: 100%;
    height: 6px;
    background-color: #E1E1E1;
    border-radius: 12px;
    margin: 10px 0 16px;
}
.progress-completed-crowdfunding{
    background-color: #74A11E;
    border-radius: 12px;
    height: 6px;
}
.sub-division-contribution-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.supporters-and-days-left{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.0015em;
    color: #000000;
    opacity: 0.9;
    margin: 0;
}
.number-of-supporters-and-days-left{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.0015em;
    color: #000000;
    opacity: 0.9;
    margin: 0 4px 0 0;
}
.button-support-now{
    width: 75%;
    align-self: center;
    border: none;
    margin-bottom: 24px;
    background: linear-gradient(0deg, #74A11E, #74A11E), #005580;
    padding: 10px 0px;
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.0015em;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 4px;
}
.main-athlete-crowdfunding-details a{
    text-decoration: none;
    color: white;
}


