*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: "League Spartan";
}
.details-main img{
    object-fit: cover;
}
.left-milap-banner a{
    text-align: center;
    text-decoration: none;
    color: white;
}
.crowd-funding-title{
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
    opacity: 0.9;
    margin: 0;
}
.main-crowd-funding-analytics{
    padding: 168px 96px 80px;
}
.sub-division-crowdFunding{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 64px;
}
.sub-division-left{
    width: 55%;
}
.sub-division-left video{
    width: 100%;
    height: auto;
}
.sub-division-left img{
    width: 100%;
    height: auto;
}
.sub-division-right{
    width: 45%;
    padding-left: 48px;
}
.horizontal-line{
    margin:0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.label-contributed-till-now{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    margin: 20px 0px 0px;
}
.amount-contributed{
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0.0015em;
    color: #74A11E;
    margin: 0;
}
.percentage-span{
    margin-left: 8px;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 0.0015em;
    color: rgba(0, 0, 0, 0.7);
}
.label-target-amount{
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.0015em;
    color: #000000;
    opacity: 0.9;
    margin: 16px 0 20px;
}
.target-amount{
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.0015em;
    color: #005580;
    opacity: 0.9;
}

.division-supporters{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
}
.label-supporters{
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.0015em;
    color: rgba(0, 0, 0, 0.9);
}

.label-days-left{
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.0015em;
    color: rgba(0, 0, 0, 0.9);
}

.number-supporters{
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.0015em;
    color: #000000;
    opacity: 0.9;
    margin-right: 8px;
}
.share-division{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.label-spread-the-word{
    font-family: "League Spartan";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
}
.share-on-facebook img{
    height: 56px;
    width: 56px ;
}

.share-on-whatsapp img{
    height: 56px;
    width: 56px ;
}
.share-on-facebook{
    margin: 0 24px 0 16px;
}
.label-share-brings{
    margin-top: 4px;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.span-new-people{
    font-size: 24px;
    line-height: 29px;
    color: #287da8;
}
.main-milap-banner{
    background: #810900;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 44px;
    margin: 0 40px;

}
.left-milap-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right-milap-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.label-lets-contribute{
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}
.label-click-to-contribute{
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.005em;
    text-transform: capitalize;
    color: #FFFFFF;
}
.right-milap-banner a{
    text-decoration: none;
    color: black;
}
.milap-button{
    width: 75%;
    height: 80px;
    background-color : #ffffff;
    padding: 12px 0px;
    text-align: center;
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    border-radius: 8px;
}
.milap-button img{
    height: 100%;
}

.milap-description{
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.005em;
    color: #FFFFFF;
    margin-top: 8px;
}

.label-most-supporters-contribution{
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.0015em;
    color: #000000;
    text-align: center;
    margin: 12px 0 0;
}
.span-money-most-supporters{
    color: #287da8;
}
.division-message-sportsapp{
    background: #F5F5F5;
    border-radius: 4px;
    margin: 32px 96px 0;
    padding: 24px;
}
.label-sportsapp-message{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.0015em;
    color: #005580;
    margin: 0;
}
.label-sub-message{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.0015em;
    color: #000000;
    opacity: 0.8;
    margin: 8px 0 0;
}
.progress-base{
    width: 100%;
    height: 12px;
    background-color: #E1E1E1;
    border-radius: 12px;
    margin: 16px 0;
}
.progress-completed{
    background-color: #74A11E;
    border-radius: 12px;
    height: 12px;
    margin: 16px 0;
}
.basic-athlete-details{
    display: flex;
    flex-direction: row;
    padding: 0;
    align-items: center;
}
.main-athlete-details{
    margin: 72px 96px 0;
}
.basic-athlete-details-left img{
    height: 112px;
    width: 112px;
    border: 4px solid #EBEBEB;
    border-radius: 8px;
}
.basic-athlete-details-right{
    margin: 0 0 0 24px;
}
.athlete-name{
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    text-align: justify;
    letter-spacing: 0.0015em;
    text-transform: uppercase;
    color: #287DA8;
    margin: 0;
}
.athlete-sport{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    letter-spacing: 0.0015em;
    color: #000000;
    border: 2px solid #D7D7D7;
    border-radius: 2px;
    width: max-content;
    padding: 4px 8px;
    margin: 8px 0 0;
}
.dot-separator{
    height: 8px;
    width: 8px;
    background-color: #287DA8;
    border-radius: 50%;
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
}
.athlete-sport-category{
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.0015em;
    color: #000000;
    margin: 8px 0 0;
}
.navigation-list{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin: 48px 0 0;
}
.navigation-list ul{
    display: inline;
}
.navigation-inactive a{
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0.0015em;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.7;
    display: block;
    text-align: center;
    padding: 24px 56px;
    text-decoration: none;
    background: #FFFFFF;
    box-shadow: 0 4px 0 #F5F5F5;
}
.navigation-active a{
    font-weight: bold;
    font-size: 20px;
    line-height: 34px;
    display: block;
    text-align: center;
    letter-spacing: 0.0015em;
    text-transform: uppercase;
    color: #287DA8;
    background: #F9F9F9;
    box-shadow: 0 4px 0 #287DA8;
    padding: 24px 56px;
    text-decoration: none;
}
.athlete-details-about-main{
    margin: 48px 0 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.athlete-details-about-left{
    flex: 60%;
    margin-right: 48px;
}

.athlete-details-about-right{
    flex: 40%;

}
.details-text{
    margin: 0;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    text-align: justify;
    letter-spacing: 0.0015em;
    color: #000000;
    opacity: 0.9;
}
.details-heading{
    margin: 0;
    font-weight: bold;
    font-size: 32px;
    line-height: 34px;
    text-align: justify;
    letter-spacing: 0.0015em;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.9);
}
.details-sub-heading{
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.0015em;
    color: rgba(0, 0, 0, 0.9);
}
.details-link{
    margin: 0;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.0015em;
    text-decoration-line: underline;
    color: #005580;
}
.athlete-details-social-media{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}
.social-media-icons{
    height: 48px;
    width: 48px;
    margin: 0 24px 0 0;
}
.separator{
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    margin: 80px 0 0;

}

.large-athlete-image{
    width: 100%;
    height: 264px;

}
.sub-division-athlete-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.small-images-athlete{
    height: 112px;
    width: 112px;
    margin-top: 24px;
}

.selected{
    border: 6px solid #3C91BC;
}

.selected .unselected{
    cursor: pointer;
}

.details-title{
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 77px;
    text-align: justify;
    letter-spacing: 0.0015em;
    text-transform: capitalize;
    color: #000000;
    opacity: 0.9;
    margin: 0;

}
.achievements-main{
    margin: 80px 96px 0;

}

.fund-use-main{
    margin-top: 48px;
    margin-left: 96px;
    margin-right: 96px;
}
.fund-use-left{
    width: 60%;
}

.company-tagline{
    margin: 96px 0 24px 96px;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    text-align: justify;
    letter-spacing: 0.0015em;
    color: rgba(0, 0, 0, 0.15);
}

.label-social-media-profiles{
    margin: 64px 0 0;
}
.social-media-sub-heading{
    margin: 8px 0 0;
}
@media only screen and (max-width:512px) {
    .division-message-sportsapp{
        margin: 40px 16px 0;
    }

    .main-crowd-funding-analytics{
        padding: 32px 16px 0px;
    }
    .sub-division-crowdFunding{
        flex-direction: column;
        margin-top: 24px;
    }
    .crowd-funding-title{
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        opacity: 0.9;
    }
    .sub-division-left{
        width: 100%;
    }
    .sub-division-right{
        width: 100%;
        padding: 0;
    }
    .horizontal-line{
        margin: 24px 0 0;
    }
    .label-contributed-till-now{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: justify;
        letter-spacing: 0.0015em;
        color: #000000;
        opacity: 0.9;
        margin-top: 16px;
    }
    .amount-contributed{
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        display: flex;
        align-items: center;
        text-align: justify;
        letter-spacing: 0.0015em;
        color: #74A11E;
    }
    .percentage-span{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: justify;
        letter-spacing: 0.0015em;
        color: rgba(0, 0, 0, 0.7);
        margin-left: 4px;
    }
    .progress-base{
        height: 8px;
        margin: 16px 0 8px;
    }
    .progress-completed{
        height: 8px;
    }
    .label-target-amount{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.0015em;
        color: #000000;
        opacity: 0.9;
    }
    .target-amount{
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        text-align: justify;
        letter-spacing: 0.0015em;
        color: #005580;
        opacity: 0.9;

    }
    .division-supporters{
        margin: 16px 0 0;
    }
    .label-supporters{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.0015em;
        color: rgba(0, 0, 0, 0.9);
        margin: 0;
    }
    .number-supporters{
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.0015em;
        color: #000000;
        opacity: 0.9;
        margin: 0;
    }
    .label-days-left{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.0015em;
        color: rgba(0, 0, 0, 0.9);
        margin: 0;
    }
    .share-division{
        margin-top: 20px;
    }
    .label-spread-the-word{
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.005em;
        text-transform: uppercase;
        color: #000000;
    }
    .share-on-facebook img{
        height: 32px;
        width: 32px;
    }
    .share-on-whatsapp img{
        height: 32px;
        width: 32px;
    }
    .label-share-brings{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
    }
    .span-new-people{
        font-family: League Spartan;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #287DA8;
    }
    .main-milap-banner{
        border-radius: 0;
        margin: 39px 0 0;
        flex-direction: column;
        padding: 16px;
    }

    .left-milap-banner{

    }
    .label-lets-contribute{
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        letter-spacing: 0.005em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .label-click-to-contribute{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.005em;
        text-transform: capitalize;
        color: #FFFFFF;
        margin: 0;
    }

    .right-milap-banner{
        margin-top: 24px;
    }
    .milap-button{
        width: 100%;
        height: 56px;
        border-radius: 4px;
        font-size: 12px;
        padding: 6px 0;
    }
    .milap-description{
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
        line-height: 10px;
        text-align: center;
        letter-spacing: 0.005em;
        color: #FFFFFF;
        margin: 4px 0 0;
    }

    .label-most-supporters-contribution{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.0015em;
        color: #000000;
        margin: 8px 0 0;
    }
    .main-athlete-details{
        margin: 48px 16px 0;
    }
    .basic-athlete-details-left img{
        height: 80px;
        width: 80px;
    }
    .basic-athlete-details-right{
        margin: 0 0 0 12px;
    }

    .athlete-name{
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.0015em;
        text-transform: uppercase;
        color: #287DA8;
    }
    .athlete-sport{
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.0015em;
        color: #000000;
        margin: 4px 0 0;
        padding: 2px 8px;
    }
    .athlete-sport-category{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        text-align: justify;
        letter-spacing: 0.0015em;
        color: #000000;
    }
    .dot-separator{
        margin: 0 6px;
        height: 4px;
        width: 4px;
    }


    .navigation-inactive a{
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 0.0015em;
        text-transform: uppercase;
        color: #303030;
        opacity: 0.7;
        padding: 16px 18px;

    }
    .navigation-active a{
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 0.0015em;
        text-transform: uppercase;
        color: #287DA8;
        padding: 16px 18px;
    }

    .athlete-details-about-main{
        flex-direction: column;
        align-items: center;
        margin: 24px 16px 0 0;
    }
    .athlete-details-about-left{
        margin: 0;
    }
    .details-text{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.0015em;
        color: rgba(0, 0, 0, 0.9);
    }
    .label-social-media-profiles{
        margin: 32px 0 0;
    }
    .details-heading{
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.0015em;
        text-transform: capitalize;
        color: rgba(0, 0, 0, 0.9);
    }

    .details-sub-heading{
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.0015em;
        color: rgba(0, 0, 0, 0.9);

    }
    .social-media-sub-heading{
        margin: 12px 0 0;
    }
    .social-media-icons{
        height: 24px;
        width: 24px;
        margin: 4px 12px 0 0;
    }

    .athlete-details-about-right{
        margin: 32px 0 0;
    }

    .separator{
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin: 40px 0 0;
    }
    .details-title{
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 38px;
        text-align: justify;
        letter-spacing: 0.0015em;
        color: rgba(0, 0, 0, 0.9);

    }
    .achievements-main{
        margin: 40px 16px 0;
    }
    .fund-use-main{
        margin: 40px 16px 0;
    }
    .fund-use-left{
        width: 100%;
    }
}
.company-tagline{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.0015em;
    color: rgba(0, 0, 0, 0.15);
    margin: 96px 0 16px 16px;
}
